name: "Publish new release"

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  release:
    name: Publish new release
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true

    steps:
      - name: Extract version from branch name
        if: startsWith(github.event.pull_request.head.ref, 'release/')
        run: |
          BRANCH_NAME="${{ github.event.pull_request.head.ref }}"
          VERSION=${BRANCH_NAME#release/}
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Validate the version
        id: regex-match
        uses: actions-ecosystem/action-regex-match@v2
        with:
          text: ${{ env.RELEASE_VERSION }}
          regex: '^v\d+(\.\d+){2}$'

      - name: Create Release
        if: ${{ steps.regex-match.outputs.match != '' }}
        id: generate_changelog
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ env.RELEASE_VERSION }}
          tag: ${{ env.RELEASE_VERSION }}
          name: ${{ env.RELEASE_VERSION }}
          publish: false
